/** app/styles/app.less **/
@import "src/semantic";
@import "tags-widget/style";

h1,
h2,
h3,
h4,
h5 {
  text-decoration: none;
}

.header-fit {
  margin      : 5px 0 3px !important;
  padding-left: 0 !important;
}

.img-head {
  width         : 38px !important;
  vertical-align: middle;
  margin        : 0;
  padding       : 0;
}

.img-head + span {
  margin-left: 10px;
}

.header-link {
  color: black;
}

.header-link:focus,
.header-link:hover,
.header-link:visited {
  color: black;
}

.bold {
  font-weight: bold;
}

.input-status {
  color  : white !important;
  padding: 10px;
  display: inline-block;
}

.input-status.ready {
  background-color: #1CBB2C;
}

.input-status.not-ready {
  background-color: #BB1C1C;
}

.title.header {
  padding: 0 !important;
}

.inverted.menu .item {
  padding-top   : 0;
  padding-bottom: 0;
}

.secondary.menu {
  margin-bottom: 0;
}

.inverted.menu {
  margin-top: 0;
}

.item.logout-button:focus,
.item.logout-button:hover,
.item.logout-button:visited {
  background-color: transparent;
}

/** Pagination Styles **/
.ui.segment.pagination {
  padding: 0;
}

/** Project List Component Styles **/
.project.list .ui.segment:first-child,
.project.list .ui.segment:last-child {
  background-color: rgba(26, 88, 112, 0.15);
}

.project.list .ui.two.column.grid.vertically.fluid .row {
  padding-top   : .9em;
  padding-bottom: .9em;
  color         : #212121;
  border-bottom : 1px solid rgba(34, 36, 38, 0.15);
}

.project.list .ui.two.column.grid.vertically.fluid a.row:hover {
  background-color: rgba(26, 88, 112, 0.15);
}

.project.list .ui.two.column.grid.vertically.fluid .column {
  padding-top   : 0;
  padding-bottom: 0;
}

.project.list .pagination.footbar {
  border-top: none;
}

/** Navbar Styles **/
.ui.raised.segment.desktop.navbar {
  padding-top: 0;
}

.ui.segment.mobile.navbar {
  margin-top: 0;
}
