/** app/styles/app.less **/
@import "src/semantic";

h1, h2, h3, h4, h5 {
  text-decoration: none;
}

.header-fit {
  margin: 3px 0 3px 0 !important;
  padding-left: 0 !important;
}

.img-head {
  width: 38px !important;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

.img-head + span {
  margin-left: 10px;
}

.header-link {
  color: black;
}

.header-link:hover,
.header-link:focus,
.header-link:visited {
  color: black;
}

label.bold {
  font-weight: bold;
}
