<!-- app/pods/login/template.hbs -->
<h3 class="ui header">{{t 'login.pageTitle'}}</h3>
<h2 class="ui header">Welcome to the Open Science Framework</h2>
<h3 class="ui header">Login To Begin</h3>
<button class="ui blue button" onclick={{action 'login'}}>Login</button>

<h3 class="ui header">Sign Up</h3>
{{link-to 'Sign Up' 'signup' class="ui green button"}}

{{!-- <h3 class="ui header">Get Fancy</h3>
{{oauth-popup authUrl=authUrl}} --}}
