<!-- app/pods/projects/detail/files/index/template.hbs -->
<div class="panel">
    <h2>Files</h2>
    {{#each model as |provider|}}
        {{file-tree root=provider project=provider.node}}
    {{/each}}
</div>
{{file-browser rootItem=node openFile=(action 'fileDetail') openNode=(action 'nodeDetail')}}
