<!-- app/templates/application.hbs -->
<div class="context">
    {{partial 'sidebar'}}
    <div class="pusher">
        {{partial 'navbar'}}
        <div class="ui container">
            {{outlet}}
        </div>
    </div>
</div>
