<!-- app/templates/navbar.hbs -->
<div class="ui container desktop-menu">
    <div class="ui secondary menu">
        <!-- Header -->
        <div class="header item header-fit">
            {{#link-to 'index' class="header-link"}}
                <img src="assets/images/pentagon_icon.png" alt="Ember OSF Dashboard (Beta)" title="Ember OSF Dashboard" class="img-head" width="48px"/>
                <span>Ember OSF Dashboard (Beta)</span>
            {{/link-to}}
        </div>

        <!-- Start Menu -->
        {{#link-to 'dashboard' class="item"}}
            Dashboard
        {{/link-to}}
        {{#link-to 'nodes' class="item"}}
            Projects
        {{/link-to}}

        <div class="right menu">
            <!-- Search -->
            <div class="item">
                {{#ui-search url="/search"}}
                    <div class="icon input">
                        <input type="text" class="prompt" placeholder="Search..." />
                        <i class="ui search icon"></i>
                    </div>
                    <div class="results"></div>
                {{/ui-search}}
            </div>

            <!-- Logout -->
            <a class="item">
                Logout
            </a>
        </div>
    </div>
</div>

<div class="ui container mobile-menu">
    <div class="ui fluid secondary menu">
        <div {{action "menuTransition"}}class="item menu-toggle">
            <i class="sidebar icon"></i>
            Menu
        </div>
        
        <div class="right menu">
            <!-- Logout -->
            <a class="item">
                Logout
            </a>
        </div>
    </div>
</div>
